.input-nama{
    padding: 10px;
}
.input-nim{
    padding: 10px;
}
.input-kelas{
    padding: 10px;
}
.input-lahir{
    padding: 10px;
}
.input-alamat{
    padding: 10px;
}
.input-darah{
    padding: 10px;
}

.btn-wa{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
}
.btn-telegram{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn-email{
    display: flex;
    justify-content: center;
    text-align: center;
}
